@import '../../../../../styles/theme/custom.scss';
.w-60{
    width: 45%;
}
.mb-0{
    margin-bottom: 0px;
}
.font-12{
    font-size: 12px;
}

.tabActive{
    border-top: 5px solid #d95525;
    border-radius: 7px 8px 3px 37px;
}