<ion-content>
  <app-navbar class="fixed"></app-navbar>
  <div class="backColor">
    

    <ion-row class="vh14">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <p class="font-25 font-orange">Login Information</p>
      </ion-col>
    </ion-row>

    <div class="w-95">
      <ion-row class="bg-white bb-1 p-10 border-top-lr"><ion-col size="0.4"></ion-col><ion-col class="1.3"><ion-icon class="font-orange font-24" name="person"></ion-icon></ion-col><ion-col size="9.5"><p class="mb-0">Username</p></ion-col><ion-col class="m-auto" size="0.8"><ion-icon name="arrow-forward"></ion-icon></ion-col></ion-row>
      <ion-row class="bg-white bb-1 p-10"><ion-col size="0.4"></ion-col><ion-col class="1.3"><ion-icon class="font-orange font-24" name="person"></ion-icon></ion-col><ion-col size="9.5"><p class="mb-0">Password</p></ion-col><ion-col class="m-auto" size="0.8"><ion-icon name="arrow-forward"></ion-icon></ion-col></ion-row>
      <ion-row class="bg-white bb-1 p-10"><ion-col size="0.4"></ion-col><ion-col class="1.3"><ion-icon class="font-orange font-24" name="person"></ion-icon></ion-col><ion-col size="9.5"><p class="mb-0">Account Information Recovery</p></ion-col><ion-col class="m-auto" size="0.8"><ion-icon name="arrow-forward"></ion-icon></ion-col></ion-row>
      <ion-row class="bg-white bb-1 p-10"><ion-col size="0.4"></ion-col><ion-col class="1.3"><ion-icon class="font-orange font-24" name="person"></ion-icon></ion-col><ion-col size="9.5"><p class="mb-0">Unregister Device</p></ion-col><ion-col class="m-auto" size="0.8"><ion-icon name="arrow-forward"></ion-icon></ion-col></ion-row>
      <ion-row class="bg-white p-10 border-bottom-lr"><ion-col size="0.4"></ion-col><ion-col class="2"><ion-toggle></ion-toggle></ion-col><ion-col class="m-auto" size="8.5"><p class="mb-0">Touch/Face ID</p></ion-col><ion-col size="0.8"></ion-col></ion-row>
    </div>

    <!-- <ion-row>
      <v-drilldown-menu>
        <v-drilldown-menu-page>
          <v-drilldown-menu-button>
            <ion-icon name="person"></ion-icon>
            Username<ion-icon name="arrow-forward"></ion-icon>
          </v-drilldown-menu-button>
          <v-drilldown-menu-button>
            <i class = "icon icon ion-compass"></i>
            Password<ion-icon name="arrow-forward"></ion-icon>
          </v-drilldown-menu-button>
          <v-drilldown-menu-button>
            Account Information Recovery<ion-icon name="arrow-forward"></ion-icon>
          </v-drilldown-menu-button>
          <v-drilldown-menu-button>
            Unregister Device<ion-icon name="arrow-forward"></ion-icon>
          </v-drilldown-menu-button>
          <v-drilldown-menu-button>
            <ion-toggle color="primary"></ion-toggle><span> Touch/Face ID</span>
          </v-drilldown-menu-button>
        </v-drilldown-menu-page>
      </v-drilldown-menu>
    </ion-row> -->

    
  </div>
  <!-- <app-footer></app-footer> -->
</ion-content>