<ion-content>
  <app-navbar class="fixed"></app-navbar>
  <div class="backColor">
    

    <ion-row class="vh14">
      <ion-col size="0.5"></ion-col>
      <ion-col size="11.5">
        <p class="mb-10">Voya 401(k) Savings Plan</p>
        <p class="font-25 font-orange">Account Preferences</p>
      </ion-col>
    </ion-row>

    <div class="w-95">
      <ion-row class="bg-white bb-1 p-10 border-top-lr"><ion-col size="0.4"></ion-col><ion-col class="1.3"><ion-icon class="font-orange font-24" name="person"></ion-icon></ion-col><ion-col size="9.5"><p class="mb-0">Personal Details</p></ion-col><ion-col class="m-auto" size="0.8"><ion-icon name="arrow-forward"></ion-icon></ion-col></ion-row>
      <ion-row class="bg-white bb-1 p-10 border-bottom-lr"><ion-col size="0.4"></ion-col><ion-col class="1.3"><ion-icon class="font-orange font-24" name="person"></ion-icon></ion-col><ion-col size="9.5"><p class="mb-0">Communication Preferences</p></ion-col><ion-col class="m-auto" size="0.8"><ion-icon name="arrow-forward"></ion-icon></ion-col></ion-row>

    </div>


    
  </div>
  <!-- <app-footer></app-footer> -->
</ion-content>